---
import {getIcon} from '../data/icons'

const arrowRightIcon = getIcon('arrow-right');

const { project: {
    title,
    description,
    category,
    github: githubLink,
    tags,
    logo
} } = Astro.props

const printArray = (arr: string[]) => arr.map((t, i) => `${i > 0 ? ', ' : ''}${t}`)

---
<a class="m-5" href={githubLink} target="_blank" rel="noopener">
    <div disabled={!githubLink} class="h-full w-full flex flex-col border border-white text-white rounded-xl p-5 transition-all highlighted-on-hover">
        <div class="flex justify-between">
            <span class="text-lg text-sky-200 capitalize">{category}</span>
            <span class="text-sky-200 uppercase text-sm">{printArray(tags)}</span>
        </div>
        <div class="my-12">
            <div class="flex mb-3">
                {logo ? <img class="w-10 h-10 rounded mr-3 bg-white" src={logo} alt="" loading="lazy"/> : null }
                <h1 class="text-3xl">{title}</h1>
            </div>
            <span class="text-sky-200 text-lg">{description}</span>
        </div>
        <div class="flex mt-auto">
        {!!githubLink &&
            <Fragment>
                <strong>See the repository</strong>
                {arrowRightIcon}
            </Fragment>}
        </div>
    </div>
</a>